.report-block{
    text-align: left;
    position: absolute;
    top: 25px;
    right: 0px;
    width: 200px;
    background: #fff;
    border: 1px solid #cd3f24;
    box-shadow: 3px 3px 4px 1px #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 2;
}