<div class="widget sb-search">
  <input type="search" name="search" id="" placeholder="Search" class="form-control sb-search-input" (keyup)="_search($event)">
  <a href="javascript:void(0)" class="sb-search-btn"><i class="fa fa-search"></i></a>
</div>
<!-- <div class="widget sb-tags">
  <div class="wg-header">
    <div class="wg-title">Tags</div>
    <div class="wg-h-menu">
      <a href="#"><i class="fas fa-file-upload" title="Import"></i></a>
      <a href="#"><i class="fas fa-plus" title="Add"></i></a>
    </div>
  </div>
  <div class="wg-body">
    <a class="tag-pill" href="https://www.abplive.in/india-news">India</a>
    <a class="tag-pill" href="https://www.abplive.in/world-news">World</a>
    <a class="tag-pill" href="https://www.abplive.in/television">TV</a>
    <a class="tag-pill" href="https://www.abplive.in/photos">Photos</a>
    <a class="tag-pill" href="https://www.abplive.in/videos">Video</a>
    <a class="tag-pill" href="https://www.abplive.in/movies">Movies</a>
    <a class="tag-pill" href="https://www.abplive.in/education-news">Jobs &amp; education</a>
    <a class="tag-pill" href="https://www.abplive.in/budget">Budget-2019</a>
    <a class="tag-pill" href="https://www.abplive.in/trending-news">Trending news</a>
    <a class="tag-pill" href="https://www.abplive.in/business">Business</a>
    <a class="tag-pill" href="https://www.abplive.in/blog">Opinion</a>
    <a class="tag-pill" href="https://www.wahcricket.com/en?utm_source=header&amp;utm_campaign=ipltab&amp;utm_medium=abplive" rel="nofollow">Cricket</a>
    <a class="tag-pill" href="https://www.abplive.in/viral-sach">Viral sach</a>
    <a class="tag-pill" href="https://www.abplive.in/sports">Sports</a>
    <a class="tag-pill" href="https://www.abplive.in/auto">Auto</a>
    <a class="tag-pill" href="https://www.abplive.in/tvf">Tvf</a>
    <a class="tag-pill" href="https://www.abplive.in/gadgets">Gadgets</a>
    <a class="tag-pill" href="https://www.abplive.in/events">Events</a>
  </div>
</div> -->